######### MODEL TRAINING PARAMETERS ########################
model_name = TEST_MODEL
model_path = $CTSegNet_path/model_repo
data_path = /where/is/the/data

train_fname = train_fname.hdf5
test_fname = test_fname.hdf5
data_key = some description of your model and data used for training

fit_generator = True
n_epochs = 20
batch_size = 16
autosave_freq = 5
n_save = 20
nmax_train = 7000
n_test = 400
validation_split = 0.2
initialize_from = None